<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Populace</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
    <!-- navbar starts here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Populace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>

            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="nav-link btn btn-outline-info" href="login" onclick="openForm()">Login</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info" href="{% url 'signup' %}">Sign Up</a>
                </li>
            </ul>
            {% endif%}
        </div>
    </nav>

    <!-- navbar ends here -->
    <div class="row">
        <div class="col-12" style="padding: 30px;"></div>
    </div>
    <!-- login starts here -->
    <div class="card shadow p-0 mb-7" id="loginForm"
        style="border: 5px solid #f1f1f1;display: none; position: fixed; right: 15px; padding: 30px; z-index: 10;">
        <form action="{% url 'home' %}" method="post" class="form-container">
            {% csrf_token %}
            <div class="form-group" style="padding:5px;">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" placeholder="Example666" name='username'>
            </div>
            <div class="form-group" style="padding:5px;">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" placeholder="password here" name='password'>
            </div>
            <div style="padding: 5px;">
                <button type="submit" class="btn btn-info">Login</button>
                <!-- <button type="button" class="btn cancel btn-danger" onclick="closeForm()">Close</button> -->
            </div>
        </form>
    </div>
    <!-- login ends here -->


    {% block content%}

    {% endblock %}

    <!-- login popup function starts here -->
    <script>
        function openForm() {
            document.getElementById("loginForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("loginForm").style.display = "none";
        }
    </script>
    <div class="container">

        <h3 class="card-header bg-light text-dark"> </h3>


        <div class="card">
            <div class="card text-white bg-info mb-3" style="max-width: 150rem;">
                <h2 class="card-header"></h2>
                <div class="card-body">
                    <h3 class="card-title text-center">Welcome to Populace</h3>
                    <p class="card-text text-white">Populace is a a gathering place especially for students and for
                        people who wants a one-stop solution
                        to keep track of all the accounts in different web platform. </p>>
                </div>
            </div>

            <div class="card-deck">

                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Piazza</h5>
                        <p class="card-text">Piazza is a free online gathering place where students can ask, answer, and
                            explore 24/7, under the guidance of their instructors</p>

                    </div>
                </div>
                <div class="card-deck">

                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Piazza</h5>
                            <p class="card-text">Piazza is a free online gathering place where students can ask, answer,
                                and explore 24/7, under the guidance of their instructors</p>

                        </div>
                    </div>
                    <div class="container " style="background-color: cadetblue">

                        <!-- Section heading -->
                        <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact us</h2>
                        <!-- Section description -->
                
                
                        <!-- Grid row -->
                        <div class="row">
                
                            <!-- Grid column -->
                            <div class="col-md-9 mb-md-0 mb-5">
                
                                <form>
                
                                    <!-- Grid row -->
                                    <div class="row">
                
                                        <!-- Grid column -->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="contact-name" class="form-control">
                                                <label for="contact-name" class="">Your name</label>
                                            </div>
                                        </div>
                                        <!-- Grid column -->


</body>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">

        <!-- Footer Links -->
        <div class="container bg-info text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase-center mt-3 mb-4">Populace </h5>
                    <p class="text-white font-weight ">Populace is a a gathering place especially for students and for
                        people who wants a one-stop solution
                        to keep track of all the accounts in different web platform.</p>

                </div>
        

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> Api Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white font-weight">Google classroom</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white font-weight">piazza</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none ">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Address</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white font-weight">Bashundara R/A,Dhaka</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white font-weight">Block D</a>
                        </li>
                    </ul>

                </div>



                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>

                    <ul class="list-unstyled">
                        <li> <a href="#" class="text-white font-weight"> Our Website </a> </li>
                        <li> <a href="#" class="text-white font-weight"> About Us </a> </li>
                        <li> <a href="#" class="text-white font-weight"> Terms of Services </a> </li>
                        <li> <a href="#" class="text-white font-weight"> Our Team </a> </li>
                    </ul>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Call to action -->
        <ul class="list-unstyled bg-dark list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1 text-white">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
            <hr>
            <div class="footer-copyright bg-light text-right text-dark-bold article__content py-3">© CSE299 Junior
                Design
                Project Copyright:
                <a> Populace.com</a>
            </div>


        </ul>

    </footer>



</html>