<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Populace</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
    <!-- navbar starts here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Populace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="nav-link btn btn-outline-info" href="login" onclick="openForm()">Login</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info" href="{% url 'signup' %}">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- navbar ends here -->



    {% block content%}

    {% endblock %}



  </body>
  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">



      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

          <!-- Grid row -->
          <div class="row mt-3">

              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                  <!-- Content -->
                  <h6 class="text-uppercase font-weight-bold">Populace</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>Populace is a a gathering place especially for students and for people who wants a one-stop solution
                      to keep track of all the accounts in different web platform.</p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">APIs</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                      <a href="#!">Google Classroom</a>
                  </p>
                  <p>
                      <a href="#!">piazza</a>
                  </p>


              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                      <a href="#!">Your Account</a>
                  </p>
                  <p>
                      <a href="#!">Sign Up</a>
                  </p>
                  <p>
                      <a href="#!">About</a>
                  </p>
                  <p>
                      <a href="#!">Help</a>
                  </p>

              </div>

  </html>
