<%- include("partials/header") -%>


<div class="container">
    <div class="row">



    <div class="col-12">
        <img src="assets/something2.jpg" class="image-fluid" alt="">
    </div>
  </div>

    <div class="row">
      <div class="card col-12">
          <div class="card-title text-center" style="padding: 12px;">
              About
          </div>
      </div>

    </div>
</div>


<%- include("partials/footer") -%>
