<%- include("header") -%>



    <div class="row">


    <div class="col-lg-4 bg-dark">
        <!-- <img src="assets/something.jpg" class=" img-fluid" alt=""> -->
    </div>
    <div class="col-8">
    </div>
    </div>

<%- include("footer") -%>
